* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
font use
font-family: 'Kumbh Sans', sans-serif;
*/
html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: hsl(185, 75%, 39%);
}
body > img:nth-child(1) {
  position: absolute;
  top: -20rem;
  left: -20rem;
}
body > img:nth-child(3) {
  position: absolute;
  bottom: -20rem;
  right: -20rem;
}
body main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  height: 400px;
  background-color: #ffffff;
  z-index: 3;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body main img {
  border-radius: 1rem 1rem 0 0;
}
body main article {
  font-family: "Kumbh Sans", sans-serif;
  margin-top: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
body main article img {
  border: 0.4rem solid #ffffff;
  border-radius: 50%;
}
body main article h1 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: hsl(229, 23%, 23%);
}
body main article h1 span {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}
body main article section:nth-child(2) h2 {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}
body main article hr {
  margin-top: 2rem;
  width: 100%;
  border: none;
  border-top: 1px solid hsl(0, 0%, 59%);
}
body main article section:nth-child(4) {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
}
body main article section:nth-child(4) h2 {
  color: hsl(229, 23%, 23%);
  text-align: center;
}
body main article section:nth-child(4) span {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: hsl(0, 0%, 59%);
}

@media (max-width: 600px) {
  body > img:nth-child(1) {
    position: absolute;
    top: -50rem;
    left: -40rem;
  }
  body > img:nth-child(3) {
    position: absolute;
    bottom: -50rem;
    right: -40rem;
  }
}
